---
layout: default
title: Archive
---
<div class="archive">
  <div class="row">
    <div class="col-md-4">
      <h2>Athletics</h2>
      <div class="list-group">
        {% for post in site.categories.basketball %}
        <a href="{{ post.url }}" class="list-group-item">
          <h4 class="list-group-item-heading">
            {{ post.title }}
            <small>
              <i class="fa fa-calendar"></i>
              {{ post.date | date: "%d %B %Y" }}
            </small>
          </h4>
          <p class="list-group-item-text">
            {{ post.description }}
          </p>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h2>Math &amp; Tech</h2>
      <div class="list-group">
        {% for post in site.categories.running %}
        <a href="{{ post.url }}" class="list-group-item">
          <h4 class="list-group-item-heading">
            {{ post.title }}
            <small>
              <i class="fa fa-calendar"></i>
              {{ post.date | date: "%d %B %Y" }}
            </small>
          </h4>
          <p class="list-group-item-text">
            {{ post.description }}
          </p>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h2>Development</h2>
      <div class="list-group">
        {% for post in site.categories.math-tech %}
        <a href="{{ post.url }}" class="list-group-item">
          <h4 class="list-group-item-heading">
            {{ post.title }}
            <small>
              <i class="fa fa-calendar"></i>
              {{ post.date | date: "%d %B %Y" }}
            </small>
          </h4>
          <p class="list-group-item-text">
            {{ post.description }}
          </p>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
