<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}
  <div id="content" class="container">{{ content }}</div>
  {% include footer.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
  <!-- <script src="/vendor/katex/katex.min.js" type="text/javascript"></script> -->
  <!-- <script src="/vendor/katex/contrib/auto-render.min.js" type="text/javascript"></script> -->
  <script src="/vendor/ZeroClipboard/ZeroClipboard.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$', '$']],
      displayMath: [ ['$$', '$$'] ],
      processEscapes: true,
    }
  });
  /*
  renderMathInElement(
    document.getElementById('content'), {
      delimiters: [{
        left: '$$',
        right: '$$',
        display: true
      }, {
        left: '\\[',
        right: '\\]',
        display: true
      }, {
        left: '$',
        right: '$',
        display: false
      }, {
        left: '\\(',
        right: '\\)',
        display: false
      }]
    }
  )
  $("script[type='math/tex']").replaceWith(
    function() {
      var tex = $(this).text();
      return "<span class=\"inline-equation\">" +
        katex.renderToString(tex) +
        "</span>";
    });

  $("script[type='math/tex; mode=display']").replaceWith(
    function() {
      var tex = $(this).text();
      return "<div class=\"equation\">" +
        katex.renderToString("\\displaystyle " + tex) +
        "</div>";
    });*/
  </script>
  <script type="text/javascript">
  [].forEach.call(document.getElementsByTagName('table'), function(el) {
    el.classList.add('table', 'table-bordered', 'table-responsive', 'table-striped')
  })
  </script>
  <script type="text/javascript">
  ZeroClipboard.config({
    moviePath: '/vendor/ZeroClipboard/ZeroClipboard.swf',
    hoverClass: 'btn-clipboard-hover'
  })

  $('.highlight').each(function() {
    var btnHtml = '<div class="zero-clipboard mobile-hide"><span class="btn-clipboard">Copy</span></div>'
    $(this).before(btnHtml)
  })
  var zeroClipboard = new ZeroClipboard($('.btn-clipboard'))
  var $htmlBridge = $('#global-zeroclipboard-html-bridge')

  zeroClipboard.on('load', function() {
    $htmlBridge.data('placement', 'top').attr('title', 'Copy to clipboard').tooltip();
  })

  zeroClipboard.on('dataRequested', function(client) {
    var highlight = $(this).parent().nextAll('.highlight').first()
    client.setText(highlight.text())
  })

  zeroClipboard.on('complete', function() {
    $htmlBridge
      .attr('title', 'Copied!')
      .tooltip('fixTitle')
      .tooltip('show')
      .attr('title', 'Copy to clipboard')
      .tooltip('fixTitle');
  })

  zeroClipboard.on('noflash wrongflash', function() {
    $('.zero-clipboard').remove()
    ZeroClipboard.destroy()
  })
  </script>
  <script type="text/javascript">
  $('[data-toggle="popover"]').popover({
    'trigger': 'hover',
    'placement': 'top',
    'html': true
  })
  </script>
  {% if page.custom_js %} {% for js_file in page.custom_js %}
  <script src='/javascripts/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %} {% endif %}
</body>

</html>
