---
layout: default
---

{% assign post = page %}

<article>
    <header id="post-header">
        <h1 id="post-title">
            {{ post.title }}
            <small>
                <i class="fa fa-calendar"></i>
                {{ post.date | date: '%b. %d, %Y' }}
            </small>
        </h1>
    </header>

    <div id="post-content">{{ content }}</div>
</article>

<hr>

{% if page.previous.url %}
<a class="btn btn-primary pull-left" href="{{page.previous.url}}" title="{{page.previous.title}}" data-toggle="popover" data-content="{{page.previous.description}}" role="button">
    <i class="fa fa-arrow-left"></i>
    Prev
</a>
{% endif %}

{% if page.next.url %}
<a class="btn btn-primary pull-right" href="{{page.next.url}}" title="{{page.next.title}}" data-toggle="popover" data-content="{{page.next.description}}" role="button">
    Next
    <i class="fa fa-arrow-right"></i>
</a>
{% endif %}
